@import '../abstract/variaveis';

body{
    padding: 1rem;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $cor-de-fundo;
    margin: 1rem 0;

    .area-calculo{
        .display{
            background-color: black;
            border: none;
            outline: 0;
            width: 370px;
            height: 400px;
            color: white;
            font-size: 48px;
            text-align: right;
        }
    }

    .botoes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem 0.5rem;

        button{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: none;
            color: $cor-fonte;
            font-size: $tamanho-fonte;
            cursor: pointer;
        }

        .botao__dois-espacos{
            grid-column: span 2;
            width: 160px;
            border-radius: 150px;
            text-align: start;
            padding: 0 1rem;
        }

        .botao__operadores{
            background: $cor-botoes-operadores;
            &:focus{
             background: $cor-fundo-focus;   
             color: $cor-botoes-operadores;
            }
        }

        
        .botao__numeros{
            background: $cor-botoes-numeros;
            color: white;
            opacity: 0.5;
            &:active{
                background: rgb(158, 156, 156); 
                transition: .3s;
        }

           }

        .botao__funcoes{
            background: $botoes-funcoes;
            color: black;
            &:active{
                background: rgb(222, 219, 219); 
                transition: .3s;
            }
        }
    }
}

