//fontes

$fonte: Helvetica, sans-serif;

//cores

$cor-de-fundo: black;
$cor-botoes-operadores: orange;
$cor-botoes-numeros: rgb(95, 95, 95);
$botoes-funcoes: rgb(177, 173, 173);

$cor-fonte: white;

//tamanho da fonte

$tamanho-fonte: 1rem;